# Ignore git related files
.github/
.gitignore

# Ignore folders not necessary for the docker image
docs/
tests/

# Ignore pre-commit related files
.pre-commit-config.yaml

# Ignore all CSV format files
*.fmt

# Ignore venv if any
venv/

# Ignore files not necessary for the docker image
CONTRIBUTING.md
*.png
*.json
LICENSE
Makefile
