[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = '*'
fastapi = '*'
uvicorn = '*'
pandas = '*'

[dev-packages]
mkdocs = '*'
mkdocs-render-swagger-plugin = '*'
pytest = '*'
httpx = '*'
pytest-asyncio = '*'
requests = '*'
setuptools-pipfile = "==0.4.1"
twine = "==3.2.0"
atomicwrites = "*"

[requires]
python_version = "3.7"
