[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = '*'
fastapi = '*'
uvicorn = '*'
pandas = '*'
aiofile = '*'
numpy = "*"
scipy = "*"
rapidfuzz = "*"
markdown = "*"

[dev-packages]
mkdocs = '*'
pytest = '*'
atomicwrites = "*"
mkdocs-material = "*"
httpx = '*'
pytest-asyncio = '*'
requests = '*'
setuptools-pipfile = "==0.4.1"
twine = "==3.2.0"
bump2version = "==1.0.1"

[requires]
python_version = "3.8"
