aiofile==3.8.1
anyio==3.6.2
atomicwrites==1.4.1
attrs==22.1.0
bleach==5.0.1
bump2version==1.0.1
CacheControl==0.12.11
caio==0.9.11
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
colorama==0.4.6
commonmark==0.9.1
cryptography==38.0.4
cyclonedx-python-lib==3.1.1
docutils==0.19
exceptiongroup==1.0.4
fastapi==0.88.0
ghp-import==2.1.0
h11==0.14.0
html5lib==1.1
httpcore==0.16.2
httpx==0.23.1
idna==3.4
importlib-metadata==5.1.0
iniconfig==1.1.1
jaraco.classes==3.2.3
Jinja2==3.1.2
keyring==23.11.0
lockfile==0.12.2
mangum==0.17.0
Markdown==3.4.1
MarkupSafe==2.1.1
mergedeep==1.3.4
mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-render-swagger-plugin
more-itertools==9.0.0
msgpack==1.0.4
numpy==1.23.5
packageurl-python==0.10.4
packaging==21.3
pandas==1.5.2
pip-api==0.0.30
pip-requirements-parser==32.0.0
pip_audit==2.4.10
pkginfo==1.9.2
pluggy==1.0.0
pycparser==2.21
pydantic==1.10.2
Pygments==2.13.0
pymdown-extensions==9.9
pyparsing==3.0.9
pytest==7.2.0
pytest-asyncio==0.20.2
python-dateutil==2.8.2
pytz==2022.6
PyYAML==6.0
pyyaml_env_tag==0.1
rapidfuzz==2.13.3
readme-renderer==37.3
requests==2.28.1
requests-toolbelt==0.10.1
resolvelib==0.9.0
rfc3986==1.5.0
rich==12.6.0
scipy==1.9.3
setuptools-pipfile==0.4.1
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
starlette==0.22.0
thefuzz==0.19.0
toml==0.10.2
tomli==2.0.1
tqdm==4.64.1
twine==3.2.0
typing_extensions==4.4.0
urllib3==1.26.13
uvicorn==0.20.0
watchdog==2.2.0
webencodings==0.5.1
zipp==3.11.0
