name: build_client_sdk_with_poetry

on:
  release:
    types: [published]

jobs:
  build:
    name: build_python_client_sdk
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'

    - name: Install Python packages
      run: pip3 install --upgrade poetry setuptools twine wheel

    - name: Build the API image
      run: docker build --build-arg VERSION=$(poetry version -s) --tag boaviztapi:latest .

    - name: Run the API locally
      run: docker run -p "5000:5000" --name=boaviztapi -tid boaviztapi:latest

    - name: Get logs from the API container in case of a failure
      run: docker logs boaviztapi

    - name: Wait for the container to be up
      run: while [[ ! $(docker ps | grep boaviztapi) ]]; do sleep 1; echo "Waiting for BoaviztAPI container to boot"; done

    - name: Get the openapi.json definition and generate the code
      run: |
        wget http://127.0.0.1:5000/openapi.json
        docker run --rm -v .:/local \
          openapitools/openapi-generator-cli generate \
          -i /local/openapi.json -g python -o /local/boaviztapi_sdk \
          --git-user-id=boavizta \
          --git-repo-id=boaviztapi \
          --package-name=boaviztapi_sdk \
          --additional-properties=packageVersion=$(poetry version -s)
        sudo chown -R "$(whoami):$(whoami)" boaviztapi_sdk

    - name: Manually fix generated properties
      working-directory: boaviztapi_sdk
      run: |
        DESCRIPTION="BoaviztAPI SDK"
        LONG_DESCRIPTION="BoaviztAPI SDK for Python applications."
        sed -i "s/long_description=.*/long_description=\"${DESCRIPTION}\",/" setup.py
        sed -i "s/author=.*/author=\"Boavizta\",/" setup.py
        sed -i "s/author_email=.*/author_email=\"open-source@boavizta.org\",/" setup.py
        sed -i '/    &lt;p&gt;.*/d' setup.py
        sed -i '/    """.*/d' setup.py
        sed -i "s/BOAVIZTAPI - DEMO/${LONG_DESCRIPTION}/" setup.py
        sed -i "s/BOAVIZTAPI - DEMO/${LONG_DESCRIPTION}/" pyproject.toml

    - name: Build package
      working-directory: boaviztapi_sdk
      run: python3 setup.py sdist

    - name: Publish package
      working-directory: boaviztapi_sdk
      run: twine upload \
        --repository pypi \
        --username __token__ \
        --password ${{ secrets.PYPI_TOKEN_2025_2026 }} \
        dist/*
