name: Publish release (Docker and PyPI)

on:
  release:
    types: [published]

permissions:
  packages: write

jobs:
  compat-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install poetry
      run: python -m pip install --upgrade poetry wheel

    - name: Install dependencies
      run: make install

    - name: Run test suite
      run: make test

  pypi:
    runs-on: ubuntu-latest
    needs: compat-tests
    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"

    - name: Install poetry
      run: python -m pip install --upgrade poetry wheel

    - name: Push package on PyPI
      run: API_TOKEN=${{ secrets.DAVID_PYPI_TOKEN }} make distribute

    - name: Get version
      id: version
      run: echo "version=$(poetry version -s)" >> $GITHUB_OUTPUT

    outputs:
      version: ${{ steps.version.outputs.version }}

  docker:
    runs-on: ubuntu-latest
    needs: pypi
    strategy:
      matrix:
        include:
          - context: .
            file: Dockerfile
            image: ghcr.io/boavizta/boaviztapi
          - context: docs
            file: docs/Dockerfile
            image: ghcr.io/boavizta/boaviztapi-doc
    steps:
    - uses: actions/checkout@v4

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build and push Docker image
      uses: docker/build-push-action@v6
      with:
        context: ${{ matrix.context }}
        file: ${{ matrix.file }}
        platforms: linux/amd64,linux/arm64
        push: true
        tags: |
          ${{ matrix.image }}:latest
          ${{ matrix.image }}:${{ needs.pypi.outputs.version }}
