name: Python tests

on:
  push:
    branches:
      - main
      - dev
    paths:
      - 'boaviztapi/**'
      - 'tests/**'
      - 'poetry.lock'
      - 'pyproject.toml'
  pull_request:
    paths:
      - 'boaviztapi/**'
      - 'tests/**'
      - 'Makefile'
      - 'poetry.lock'
      - 'pyproject.toml'
    branches:
      - main
      - dev

jobs:
  test:
    strategy:
      matrix:
        version: ["3.11", "3.12", "3.13"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.version }}

    - name: Install poetry
      run: python -m pip install --upgrade poetry wheel

    - name: Install dependencies
      run: make install

    - name: Run test suite
      run: make test
